@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --data-width: 54px;
}

* {
  font-family: 'Spline Sans Mono';
  margin: 0;
}

body {
  background-color: rgb(33, 33, 33);
  color: white;
  width: 100vw;
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  /* border: 1px solid white; */
}

.title {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: clamp(36px, 6vw, 64px);
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
}

.single-linked-list {
  flex-grow: 1;
  max-width: 95%;
  max-height: 55%;
  min-height: calc(calc(3 * var(--data-width)) + 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  /* border: 1px solid white; */
}

.node-container {
  flex-grow: 1;
  max-width: 100%;
  min-height: calc(3 * var(--data-width));
  display: flex;
  justify-content: start;
  align-items: center;
  overflow-x: scroll;
  /* border: 1px solid white; */
}

.node-container::-webkit-scrollbar {
  display: none;
}

.node-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.node {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
}

.data {
  background-color: white;
  color: black;
  width: var(--data-width);
  height: var(--data-width);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0px solid grey;
  z-index: 0;
}

.position {
  width: var(--data-width);
  text-align: center;
  position: absolute;
  bottom: -2rem;
  white-space: nowrap;
}

#head {
  background-color: transparent;
  color: white;
  width: calc(var(--data-width) - 4px);
  height: calc(var(--data-width) - 4px);
  border: 2px solid white;
}

.pointer {
  width: 30px;
  z-index: 1;
}

.notes {
  font-size: 14px;
  height: 1rem;
  white-space: nowrap;
  width: max-content;
  transform: translateY(-50%);
}

.show-operations {
  height: 100px;
  margin-bottom: 8px;
}

.options-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.option-menu {
  background-color: white;
  color: black;
  height: 1.5rem;
  width: 100px;
  border-radius: 2px;
  padding-left: 4px;
  cursor: pointer;
}

.operations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.operations-container > * {
  display: none;
}

#insert,
#delete,
#search,
#create {
  width: 100%;
}

.displayBlock {
  display: block;
}

.operation-menu {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

.user-input {
  margin-bottom: 12px;
}

.user-defined-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.operation-menu button {
  font-size: 14px;
  flex-grow: 1;
  background-color: white;
  color: black;
  height: 1.5rem;
  padding: 0 12px;
  /* border: 1px solid white; */
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.get-data,
.get-position,
.get-key,
.get-multiple-data {
  background-color: white;
  color: black;
  border: none;
  border-radius: 2px;
  height: 1.5rem;
  padding: 0 8px;
  cursor: pointer;
}

.get-data {
  width: 90px;
}

.input-field {
  display: flex;
  align-items: center;
}

.get-position {
  width: 65px;
}

.get-key {
  width: 75px;
}

.get-multiple-data {
  width: 120px
}

.get-position,
.get-key,
.get-multiple-data {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid black;
}

.confirm-button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  padding: 0 6px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-icon{
  width: 16px;
}

@media (max-height: 399px) {
  .container {
    justify-content: start;
    overflow-y: scroll;
  }
}