:root {
  --data-width: 45px;
  --complete-width: 58px;
}

* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

body {
  background-color: rgb(33, 33, 33);
  color: white;
  width: 100vw;
  height: 100vh;
}

input:focus {
  background-color: white;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  /* border: 1px solid white; */
}

.title {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: clamp(36px, 6vw, 64px);
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
}

.stack-list {
  flex-grow: 1;
  max-width: 95%;
  max-height: 55%;
  min-height: calc(calc(3 * var(--data-width)) + 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  position: relative;
  /* border: 1px solid white; */
}

.array-container {
  flex-grow: 1;
  max-width: 100%;
  min-height: calc(3 * var(--data-width));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow-x: scroll;
  /* border: 1px solid white; */
}

.array-container::-webkit-scrollbar {
  display: none;
}

.array-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.array {
  display: flex;
  justify-content: start;
  align-items: center;

  border: 2px solid white;
  margin: 0 0 0 calc(var(--complete-width) - 2px);
}

#top-container {
  height: 36px;
  display: flex;
  align-items: start;
  justify-content: end;
}

#top-container div,
#idx-container div,
.idx {
  text-align: center;
  width: var(--data-width);
  padding: 0 6.5px;
}

#idx-container {
  height: 36px;
  display: flex;
  align-items: end;
}

.idx {
  position: absolute;
  bottom: -40px;
  left: 0;
}

.elem {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  
  padding: 6px;
  border: 1px dashed white;
}

.data {
  background-color: white;
  color: black;
  width: var(--data-width);
  height: var(--data-width);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  transform: scale(0);
}

.notes {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  height: 1rem;
  white-space: nowrap;
  width: max-content;
}

.show-operations {
  height: 136px;
  margin-bottom: 8px;
}

.options-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 16px;
}

.option-menu {
  background-color: white;
  color: black;
  height: 1.5rem;
  width: 110px;
  border-radius: 2px;
  padding-left: 4px;
  cursor: pointer;
}

.operations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.operations-container > * {
  display: none;
}

.displayBlock {
  display: block;
}

.operation-menu {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 13px;
}

.user-input-size {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-input-size label {
  margin-right: 12px;
}

.empty-array,
.user-defined-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.empty-array .user-input-size,
.user-defined-list .user-input-size,
.user-defined-list .input-field {
  visibility: hidden;
}

.empty-array:focus-within .user-input-size,
.user-defined-list:focus-within .user-input-size,
.user-defined-list:focus-within .input-field {
  visibility: visible;
}

.operation-menu button {
  font-size: 14px;
  background-color: white;
  color: black;
  height: 1.5rem;
  padding: 0 14px;
  /* border: 1px solid white; */
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.empty-button {
  padding: 0 23px !important;
}
.user-defined-button {
  padding: 0 16px !important;
}

.get-size,
.get-data,
.get-key,
.get-multiple-data {
  background-color: rgb(240, 240, 240);
  color: black;
  border-radius: 2px;
  height: 1.5rem;
  padding: 0 8px;
  cursor: pointer;
  border: 1px solid white;
  box-shadow: inset 0px 0px 3px black;
  box-sizing: border-box;
}

.get-data {
  width: 100px;
}

.input-field {
  display: flex;
  align-items: center;
}

.get-size,
.get-key {
  width: 60px;
}

.empty-array .get-size {
  width: 100px;
}
.get-multiple-data {
  width: 90px;
}

.empty-array .get-size,
.get-data,
.get-key,
.get-multiple-data {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.push-operation {
  display: flex;
}

.push-button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.search-label {
  margin-right: 12px;
}

.confirm-button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  padding: 0 6px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-icon{
  width: 16px;
}

@media (max-height: 399px) {
  .container {
    justify-content: start;
    overflow-y: scroll;
  }
}